/* Copa, banner and container styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    width: 1300px;
    height: 700px;
    background-color: #2D25A0;
}
.copa{
    width: 375px;
    height: 155px;
    font-size: 32px;
    color: #FFFFFF;
}

.banner img{
    width: 556.01px;
    height: 438px;
    margin: 100px 150px 86px 143px;
}
